@media (max-width: 768px) {
  .about {
    gap: 80px;
    margin: 0 !important;
    align-items: start;
    padding: 0 10px;
  }
  .about-title h1 {
    font-size: 50px;
    padding: 0;
  }
  .about-title img {
    width: 130px;
    right: -20px;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 18px !important;
    line-height: 32px;
  }
  .about-skill {
    gap: 20px;
    align-items: center;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    height: 6px;
  }
  .about-achievements {
    justify-content: space-between;
  }
  .about-achievement {
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .about-para {
    font-size: 16px !important;
  }
}